<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="product,it: ${products}">
            <th scope="row" th:text="${it.index}" ></th>
            <td><img th:src="${product.key.productImage}" class="card-img-top" alt="..." style="width:50px"></td>
            <td th:text="${product.key.productTitle}"></td>
            <td th:text="${product.key.manufacturer}"></td>
            <td>
                <span th:each="category: ${product.key.categories}" class="badge badge-primary" th:text="${category.categoryTitle}"></span>
            </td>
            <td th:text="${product.value}" ></td>
            <td th:text="${product.key.price}"></td>
            <td>-</td>
        </tr>


        <th:block th:if="${totalDiscount > 0}">
            <tr>
                <td colspan="7" style="text-align: right;">Discount (%)</td>
                <td th:text="${totalDiscount}" ></td>

            </tr>
        </th:block>
        <tr>
            <td colspan="7" style="text-align: right;">Total</td>
            <td th:text="${total}" ></td>
        </tr>

        <tr>

            <th:block th:if="${customer != null}">
                <td colspan="8" style="text-align: right;">
                    <form method="post" action="/pay">
                        <select name="paymentMethod">

                            <option th:each="method: ${customer.paymentMethods}"
                                    th:value="${method.paymentID}"
                                    th:text="${method}" ></option>

                        </select>
                        <button class="btn btn-primary" type="submit">Pay</button>
                    </form>
                </td>
            </th:block>

            <th:block th:if="${customer == null}">
                <td colspan="8" style="text-align: right;">
                    <a href="login">You need to login purchase</a>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>