<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Products</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script>
        $(document).ready(function(e) {

            function getMessages() {

                jQuery.get( "http://localhost:8080/getMessages", function( data ) {
                  var message = "";
                  for (var i = 0; i < data.length; i++) {
                    message+=data[i].date + " - " + data[i].message + "<br/>";
                  }
                  $("#messages").html(message);

                });

            }

            setInterval(getMessages  , 2000);
            getMessages();
        });
    </script>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Health Store</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="cart">
            <svg class="bi bi-bag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4h14v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4zm7-2.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
            </svg>
        </a>
    </nav>

    <div id="messages"></div>

    <ul class="nav m-5">
        <li class="nav-item">
            <span class="mx-5">
                <span>Price</span>
                <a class="active" href="/products?name=price&order=asc">+</a>
                <a class="active" href="/products?name=price&order=desc">-</a>
                </span>
        </li>
        <li class="nav-item ">
            <span class="mx-5">
                <span>Title</span>
                <a class="active" href="/products?name=title&order=asc">+</a>
                <a class="active" href="/products?name=title&order=desc">-</a>
                </span>
        </li>
        <li class="nav-item">
            <span class="mx-5">
                <span>Category</span>
                <a class="active" href="/products?name=category&order=asc">+</a>
                <a class="active" href="/products?name=category&order=desc">-</a>
                </span>
        </li>
        <li class="nav-item">
            <span class="mx-5">
                <span>Manufacturer</span>
                <a class="active" href="/products?name=manufacturer&order=asc">+</a>
                <a class="active" href="/products?name=manufacturer&order=desc">-</a>
                </span>
        </li>
    </ul>

    <div class="row row-cols-1 row-cols-md-3">
        <div th:each="product: ${products}" class="col mb-4">
            <div class="card">
                <img th:src="${product.productImage}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.productTitle}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${product.manufacturer}"></h6>
                    <p class="card-text" th:text="${product.description}"></p>
                    <h6 class="card-subtitle mb-2 text-muted" th:inline="text">
                        [[${product.price}]] €
                    </h6>
                    <a th:href="@{'/viewProduct?id=' + ${product.productID}}" class="btn btn-primary">Details</a>

                    <th:block th:if="${product.quantity == 0}">
                        <a th:href="@{'/watch?id=' + ${product.productID}}" class="btn btn-primary">Watch</a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>