<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script>

        $(document).ready(function(e) {

            $("#addAddressBtn").click(function(e) {
                $("#addAddress").show();
            });

        });

        $(document).ready(function(e) {

            $("#addLoyaltyCardBtn").click(function(e) {
                $("#addLoyaltyCard").show();
            });

        });



    </script>
</head>
<div class="container">
    <h1>Profile</h1>
    <br/>
    <form id="custDetails" action="/updateCustomer/details" method="POST">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="input_fistName">First Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" th:value="*{customer.firstName}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="input_lastName">Last Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" th:value="*{customer.lastName}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="input_email">Email</span>
            </div>
            <input readonly type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" th:value="*{customer.email}">
        </div>
    </form>

    <h3>Addresses</h3>
    <button id="addAddressBtn" class="btn btn-primary">+</button>
    <div id="addAddress" style="display: none">
        <form action="/updateCustomer/address" method="post">
            <input type="text" name="line1" placeholder="Line 1">
            <input type="text" name="line2" placeholder="Line 2">
            <input type="text" name="city" placeholder="City">
            <input type="text" name="country" placeholder="Country">
            <input type="submit" class="btn btn-primary" value="Add"/>
        </form>
    </div>
    <div>
        <div th:each="address: ${customer.addresses}">
            <p th:text="${address.line1}"></p>
            <p th:text="${address.line2}"></p>
            <p th:text="${address.city}"></p>
            <p th:text="${address.country}"></p>
        </div>
    </div>


    <h3>Loyalty card</h3>


    <!-- If user has no loyalty card -->
    <div th:unless="${customer.loyaltyCard != null}">
        <button id="addLoyaltyCardBtn" class="btn btn-primary">+</button>
        <div id="addLoyaltyCard" style="display: none">
            <form action="/updateCustomer/loyaltycard" method="post">
                <input type="text" name="loyaltyCardNo" placeholder="Loyalty Card Number">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLoyaltyCard"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Card Type
                    </button>
                    <select id="LoyaltyCardType" name="loyaltyCardType">
                        <option value="gold">Gold</option>
                        <option value="silver">Silver</option>
                        <option value="bronze">Bronze</option>
                    </select>

                </div>
                <input type="submit" class="btn btn-primary" value="Add"/>
            </form>
        </div>
    </div>
    <!-- If user has loyalty card -->
    <div th:if="${customer.loyaltyCard != null}">
        <p th:text="${customer.loyaltyCard.loyaltyCardID}"></p>
        <p th:text="${customer.loyaltyCard.cardType}"></p>
    </div>


    <br/><br/>

    <h3>Payment Methods</h3>
    <ul class="nav my-3">
        <li class="nav-item">
            <span>
                <span>Credit Card</span>
                <button class="btn btn-primary" type="submit">+</button>
                </span>
        </li>
        <li class="nav-item ">
            <span class="mx-5">
                <span>Paypal</span>
                <button class="btn btn-primary" type="submit">+</button>
                </span>
        </li>
    </ul>

    <form action="updateCustomer/save" method="post">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>

    <form action="updateCustomer/discard" method="post">
        <input type="submit" value="Discard" class="btn btn-light"/>
    </form>

</div>
<body>

</body>
</html>