<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Product</title>
</head>
<body>
<div class="container">
    <h1>Flour - Francine </h1>
    <img src="https://i5.walmartimages.com/asr/15232da7-ee4e-44f5-b161-19108b8eb291_1.cc1421268d79193b6aa57566636ae1c1.jpeg?odnWidth=450&odnHeight=450&odnBg=ffffff"
         class="card-img-top" alt="..." style="width:100px">
    <h3>Desciption</h3>
    Blablablablablablabalafgfkjgrijgrrlkfjgrjukrjgkdmghltyrjehufdvbsdnghktkhughfgdasfgtrigjhlngbmcvnbxvxfdrsetyujiokhngbj.kvhghf</div>
    <br/>
    <nav class="nav">

        <form action="">
            <label for="quantity">Quantity</label>
            <input id="quantity" type="number" name="quantity" min="0" >
            <input type="submit" value="Add" >
        </form>
        <div id="price">
            Price: 100€
        </div>
    </nav>

</div>
</body>
</html>