<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    .checked {
      color: orange;
    }
    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script>

        $(document).ready(function() {

            $("#rating .fa").click(function(e) {
                var $this = $(this);
                var elIndex = $("#rating .fa").index($this);

                $("#reviewScore").val(elIndex);

                $this.parent().children().each(function(index) {
                    if (index <= elIndex) {
                        $(this).addClass("checked");
                    } else {
                        $(this).removeClass("checked");
                    }
                });
            });

        });

    </script>

    <script>
        $(document).ready(function(e) {

            function getMessages() {

                jQuery.get( "http://localhost:8080/getMessages", function( data ) {
                  var message = "";
                  for (var i = 0; i < data.length; i++) {
                    message+=data[i].date + " - " + data[i].message + "<br/>";
                  }
                  $("#messages").html(message);

                });

            }

            setInterval(getMessages  , 2000);
            getMessages();
        });
    </script>

    <meta charset="UTF-8">
    <title>View Product</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Health Store</a>
        <form class="form-inline" action="search" method="post">


            <div class="input-group">
                <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search">
                <select class="custom-select" id="inputGroupSelect04" name="item" aria-label="Example select with button addon">
                    <option value="productTitle">Product</option>
                    <option value="category">Category</option>
                    <option value="manufacturer">Manufacturer</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </div>

        </form>
        <a href="cart">
            <svg class="bi bi-bag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4h14v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4zm7-2.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
            </svg>
        </a>
    </nav>

    <h1 th:text="${product.productTitle}"></h1>
    <img th:src="${product.productImage}" class="card-img-top" alt="..." style="width:100px">
    <h3>Desciption</h3>
    <p th:text="${product.description}"></p>

    <br/>
    <nav class="nav">
        <th:block th:if="${product.quantity > 0}">
            <form action="addToCart" method="post">
                <label for="quantity">Quantity</label>
                <input id="quantity" type="number" name="quantity" min="0" th:max="${product.quantity}" value="1">
                <input type="hidden" name="productID" th:value="${product.productID}" />
                <input type="submit" value="Add">
            </form>
            <div id="price">
                Price:
                <p th:text="${product.price}"></p>
            </div>
        </th:block>
        <th:block th:if="${product.quantity == 0}">
            <a th:href="@{'/watch?id=' + ${product.productID}}" >Product is out of stock, watch when it is back.</a>
        </th:block>
    </nav>
    <br/>

    <h3>Rate product</h3>

    <div id = "rating">
        <div class="fa fa-star"></div>
        <div class="fa fa-star"></div>
        <div class="fa fa-star"></div>
        <div class="fa fa-star"></div>
        <div class="fa fa-star"></div>
    </div>
    <br/>

    <form action="reviewProduct" method="post">
        <div class="form-group">
            <label for="formCommentReview">Leave a comment</label>
            <textarea class="form-control" id="formCommentReview" name="formCommentReview" rows="3"></textarea>
        </div>
        <input id="reviewScore" type="hidden" name="reviewScore" value="0" >
        <input id="productID" type="hidden" name="productID" th:value="${param.id[0]}">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br/>

    <h3>Reviews</h3>
    <div class="comment" th:each="review: ${reviews}" >
        <h5 th:text="${review.customer.firstName}"></h5>
        <div>
            <th:block th:each="i: ${#numbers.sequence(0, 4)}">
                <div th:if="${review.score >= i}" class="fa fa-star checked"></div>
                <div th:if="${review.score < i}" class="fa fa-star"></div>
            </th:block>
            <!--<th:block th:each="i: ${#numbers.sequence(0, 5)}">-->
                <!--<div th:if="${review.score < i}" class="fa fa-star"></div>-->
            <!--</th:block>-->

        </div>
        <p th:text="${review.comment}"></p>
    </div>



</div>
</body>
</html>